[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pnm/Desktop/pnmsourcecode]
row=3
col=0

[/home/pnm/Desktop/customized]
row=2
col=0

[Çöp]
row=7
col=13

[/]
row=0
col=0

[/home/pnm]
row=1
col=0

