[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/suleyman/Desktop/steam.desktop]
row=0
col=1

[/home/suleyman/Desktop/Euro Truck Simulator 2 Demo.desktop]
row=0
col=3

[8e5b15e6-ab01-4117-a562-f5ed5f24122c]
row=2
col=0

[3448472E4846EE64]
row=1
col=0

[2020-12-01-15-32-18-00]
row=0
col=0

[Çöp]
row=3
col=0

[/]
row=4
col=0

[/home/suleyman]
row=0
col=12

