[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pnm/Desktop/live-installer.desktop]
row=3
col=0

[/home/pnm/Desktop/pnmsourcecode]
row=4
col=0

[/home/pnm/Desktop/pnmlogo]
row=0
col=1

[Çöp]
row=0
col=0

[/]
row=1
col=0

[/home/pnm]
row=2
col=0

