[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pnm/Desktop/live-installer.desktop]
row=3
col=0

[2021-01-24-16-09-53-00]
row=4
col=0

[Çöp]
row=0
col=0

[/]
row=1
col=0

[/home/pnm]
row=2
col=0

