[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/liveuser/Desktop/live-installer.desktop]
row=5
col=0

[94ffacb5-98d6-44a2-89e6-812e91178bd2]
row=1
col=0

[CAB4309BB4308C47]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/liveuser]
row=4
col=0

