[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/suleyman/Desktop/suleymanfatih.github.io-main]
row=0
col=2

[/home/suleyman/Desktop/archiso]
row=4
col=2

[/home/suleyman/Desktop/Dosyalar]
row=7
col=1

[/home/suleyman/Desktop/PNMOS-onset-x86_64.iso]
row=3
col=1

[/home/suleyman/Desktop/tor-browser-linux64-10.0.7_en-US]
row=1
col=2

[/home/suleyman/Desktop/Browser]
row=2
col=2

[/home/suleyman/Desktop/start-tor-browser.desktop]
row=2
col=1

[/home/suleyman/Desktop/xfce4]
row=6
col=1

[/home/suleyman/Desktop/message.txt]
row=6
col=0

[/home/suleyman/Desktop/pnmgit]
row=5
col=1

[/home/suleyman/Desktop/ss1.png]
row=4
col=1

[/home/suleyman/Desktop/PNMOS-2021.01.09-x86_64.iso]
row=7
col=0

[/home/suleyman/Desktop/PNMlogopanth.png]
row=1
col=1

[/home/suleyman/Desktop/suleymanfatih.github.io-main.zip]
row=0
col=1

[/home/suleyman/Desktop/r649tvwymia61.png]
row=5
col=0

[/home/suleyman/Desktop/conf]
row=3
col=2

[0a2b1eed-3778-422b-834c-61f142ed0cae]
row=2
col=0

[3448472E4846EE64]
row=1
col=0

[2020-12-01-15-32-18-00]
row=0
col=0

[Çöp]
row=3
col=0

[/]
row=4
col=0

[/home/suleyman]
row=0
col=12

