[Desktop Entry]
Version=1.0
Type=Application
Name=panther
Comment=panther
Exec=panther_launcher
Icon=/usr/share/icons/PNMlogopanth.png
Path=
Terminal=false
StartupNotify=true
